<section class="container py-5 py-md-6 py-lg-7 my-3">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-5 text-center text-md-start mb-5 mb-md-0">
            <h2 class="about-title">Our services</h2>
            <p class="text-muted mb-3 pb-2">Find aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint doloremque.</p>
            <a class="btn btn-grad" href="#">See all services</a>
        </div>
        <div class="col-lg-8 col-md-7 bg-position-center bg-repeat-0"
            style="background-image: url(assets/sbg-shape.svg);">
            <div class="mx-auto" style="max-width: 610px;">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="sbg-white shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                            <img class="d-inline-block mb-3 mt-2" src="assets/consume.png" alt="Icon"
                                width="100">
                            <h3 class="h5 mb-2">Consumer Insights</h3>
                            <p class="fs-sm">
                                Find aute irure dolor in reprehend in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="sbg-white shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                            <img class="d-inline-block mb-3 mt-2" src="assets/growth.png" alt="Icon"
                                width="100">
                            <h3 class="h5 mb-2">Customised Growth Plan</h3>
                            <p class="fs-sm">
                                Find aute irure dolor in reprehend in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="sbg-white shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                            <img class="d-inline-block mb-3 mt-2" src="assets/area.png" alt="Icon" width="100">
                            <h3 class="h5 mb-2">Food Delivery</h3>
                            <p class="fs-sm">
                                Find aute irure dolor in reprehend in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="sbg-white shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                            <img class="d-inline-block mb-3 mt-2" src="assets/menu.png" alt="Icon" width="100">
                            <h3 class="h5 mb-2">Offer Genrating</h3>
                            <p class="fs-sm">
                                Find aute irure dolor in reprehend in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="sbg-white shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                            <img class="d-inline-block mb-3 mt-2" src="assets/marketing.png" alt="Icon"
                                width="100">
                            <h3 class="h5 mb-2">Aggressive Marketing</h3>
                            <p class="fs-sm">
                                Find aute irure dolor in reprehend in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>